.header{
    background-color: rgb(252, 169, 92);
   font-size: 20px;
   font-weight: 700;
   padding: 20px;
}
.menu{
    justify-content: end;
}

.items{
    list-style: none;
    font-weight: 400;

}